/* --------------------------General Styles---------------------- */

:root{
  --tier1-color: #0d0d0d;
  --tier2-color: #232323;
  --tier3-color: #383838;
  --tier4-color: #4f4f4f;
  --tier5-color: #676767;
  --tier6-color: #808080;
  --tier7-color: #bcbcbc;
  --tier8-color: #ddd;
}

body {
    margin:0;
}

header {
    width: 100%;
    height: 50px;
    background: var(--tier1-color);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* ----------------------------------Header----------------------- */

#logo {
  width: 80%;
  height: 100%;
  text-align: left;
  padding-top: 5%;
}

.header-left {
    height: 100%;
    width: 15%;
}

.header-center {
  color: white;
  text-align: left;
  width: 65%;
  height: 100%;
  padding-bottom: 1.5%;
}

.header-center ul {
  padding: 0;
}

.header-center li {
  display: inline;
  margin-left: 5%;
}

.header-center a {
  text-decoration: none;
  color: white;
}

.more-btn {
  background-color: black;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  height: 30px;
  width: 70px;
}

.header-right {
  width: 20%;
  height: 100%;
  padding-top: 1%;
}

.header-right input {
  background-image: url(../images/search.svg);
  background-position: left left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 60%;
  border-radius: 5px;
  border: 1px solid black;
}
.page-title {
    width: 100vw;
    height: 200px;
}

/* -------------------------------Page Title-------------------- */

.title-container {
    width: 65%;
    height: inherit;
    text-align: end;
}

.title-container div {
    margin: 6% 0 0 0;
    display: inline-block;
    width: 400px;
    height: 126px;
    background: black;

}

.title-icon {
    width: 35%;
    text-align: end;
    height: inherit;
}

.title-icon div,
.title-icon aside {
    display: inline-block;
}

.title-icon aside {
    width: 41px;
    height: 41px;
    background: rgb(43, 43, 43);
    transform: rotate(-15deg);
    margin: 10% 20px 0 0;
}

.title-icon div {
    width: 165px;
    height: 41px;
    background: rgb(43, 43, 43);
    margin: 10% 50px 0 0;
}

/* --------------------------------Main------------------------- */

.articles-container-1 {
    width: 100vw;
    height: 1200px;
    flex-wrap: wrap;
}

/* ----------------------------Articles Container 1----------------- */

.article-container {
    width: 48%;
    height: 600px;
    text-align: start;
    border: 2px solid gray;
}

.article-header {
    width: 80%;
}

.article-img {
    display: inline-block;
    width: 75px;
    height: 75px;
    background: var(--tier2-color);  
    transform: rotate(-15deg); 
}

.article-title {
    display: inline-block;
    width: 50%;
    height: 60px;
    background: var(--tier3-color);
    margin: 0 0 0 20px;
}

.article-body {
    width: 80%;
    height: 30%;
    background: var(--tier1-color);
    margin: 0 10% 0 10%;
}

.article-footer {
    width: 80%;
    height: 45px;
    background: var(--tier6-color);
    margin: 0 10% 0 10%;
}

/* --------------------- Articles-Container-2 ----------------- */

.articles-container-2 {
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
}

.small-article {
  width: 26%;
  height: 400px;
  padding: 3%;
  background-color: var(--tier8-color);
  margin: 1% 0.5% 1% 0.5%;
}

/*--------------------------Small Article-------------------------*/

.small-art-header {
  width: 90%;
  height: 10%;
  background-color: var(--tier2-color);
  margin-top: 3%;
}

.small-art-author {
  width:45%;
  height: 5%;
  background-color: var(--tier5-color);
  margin-top: 3%;
}

.small-art-content {
  width: 90%;
  height: 60%;
  background-color: var(--tier4-color);
  margin-top: 4%;
}

/* ---------------------------- Smashing Article -----------------------*/

.smashing-article {
  width: 59%;
  height: 400px;
  padding: 3%;
  background-color: var(--tier6-color);
  margin: 1% 0.5% 1% 0.5%;
  text-align: center;
}

.smashing-img {
  width: 15%;
  height: 25%;
  border-radius: 100%;
  background-color: var(--tier1-color);
  margin: 0 auto;
}

.smashing-title {
  height: 10%;
  width: 50%;
  background-color: var(--tier3-color);
  margin: 2% auto;
}

.smashing-text {
  height: 40%;
  width: 70%;
  background-color: var(--tier5-color);
  margin: 0 auto;
}

.smashing-btn {
  background: var(--tier2-color);
  width: 25%;
  height: 10%;
  margin: 2% auto;
}

/* --------------------------------- Promo 1 -------------------------------------*/

.promo-container {
  width: 100vw;
  height: 700px;
  background: var(--tier8-color);
  margin: 5px auto;
  padding-top: 10px;
}

.promo-title {
  width: 50%;
  height: 5%;
  background: var(--tier2-color);
  margin: 2% auto;
}

.promo-text {
  width: 70%;
  height:15%;
  background: var(--tier6-color);
  margin: 3% auto;
}

.promo-btn {
  background: var(--tier1-color);
  width: 30%;
  height: 10%;
  margin: 0 auto;
}

.promo-img {
  width: 20%;
  height: 40%;
  background: var(--tier3-color);
  margin: 3% auto;
}

/* ----------------------- Person of the Week -----------------------------*/

.person-week {
  width: 100vw;
  height: 350px;
  background: var(--tier8-color);
  margin: 5px auto;
}

.person-week-img {
  width: 150px;
  height: 150px;
  background: var(--tier1-color);
  margin: 0 auto;
  transform: rotate(-30deg);
}

.person-week-info {
  width: 75%;
  height: 100%;
}

.person-week-title {
  width: 80%;
  height: 10%;
  margin: 6% auto;
  background: var(--tier5-color);
}

.person-week-text {
  width: 90%;
  height: 30%;
  margin: 0 auto;
  background: var(--tier3-color);
}