/*--------------------------General Styles----------------------*/
header {
    width: 100%;
    height: 4px;
    background: rgb(19, 19, 19);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*----------------------------------Header-----------------------*/

.header-left {
    align-items: flex-start;
}